In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import yfinance as yf

In [2]:
data = pd.read_excel("Ticker_data_sp500.xlsx", sheet_name= None)
print(data.keys())
ticker_data = data["top_50"]
print(ticker_data.columns)
sp_500 = "^GSPC"
tickers = ticker_data["Symbol"]
print(tickers)

dict_keys(['Sheet1', 'top_50'])
Index(['Company', 'Symbol', 'Weight', '      Price'], dtype='object')
0      NVDA
1      AAPL
2      MSFT
3      AMZN
4     GOOGL
5      AVGO
6      GOOG
7      META
8      TSLA
9     BRK.B
10      JPM
11      LLY
12      WMT
13     ORCL
14        V
15       MA
16      XOM
17     NFLX
18      JNJ
19     PLTR
20      AMD
21     COST
22      BAC
23     ABBV
24       HD
25       PG
26       GE
27      CVX
28      UNH
29       KO
30      IBM
31     CSCO
32      WFC
33       MU
34      CAT
35       MS
36      AXP
37      CRM
38       GS
39      RTX
40       PM
41     TMUS
42      MCD
43      ABT
44      TMO
45      MRK
46     LRCX
47      APP
48      DIS
49     QCOM
Name: Symbol, dtype: object

In [3]:
import yfinance as yf
import pandas as pd

# Define date range
start_date = "2009-12-01"
end_date = "2025-09-30"

# Replace dots with hyphens in tickers (Yahoo Finance format)
tickers_clean = [ticker.replace('.', '-') for ticker in tickers]

# Combine S&P 500 ticker with your tickers
sp_500 = "^GSPC"
all_tickers = [sp_500] + tickers_clean

# Download data with auto_adjust explicitly set
df_data = yf.download(all_tickers, start=start_date, end=end_date, auto_adjust=True)['Close']

print(df_data.head())
print(f"\nShape: {df_data.shape}")

[*********************100%***********************]  51 of 51 completed

Ticker          AAPL  ABBV        ABT   AMD    AMZN  APP      AVGO        AXP  \
Date
2009-12-01  5.913063   NaN  18.421549  7.20  6.9250  NaN  1.126428  32.857788
2009-12-02  5.890846   NaN  18.408020  7.30  7.1125  NaN  1.101726  32.650940
2009-12-03  5.898354   NaN  18.340391  8.03  7.0585  NaN  1.124311  30.924515
2009-12-04  5.803488   NaN  18.184851  7.86  6.8790  NaN  1.165952  31.266624
2009-12-07  5.672301   NaN  18.144279  8.52  6.7105  NaN  1.190654  31.354143

Ticker            BAC      BRK-B  ...        RTX        TMO       TMUS  TSLA  \
Date                              ...
2009-12-01  12.388351  67.050003  ...  29.454857  45.386845  10.457591   NaN
2009-12-02  12.201244  66.739998  ...  29.519838  45.547955  10.715009   NaN
2009-12-03  12.287002  65.820000  ...  29.134323  45.320499  10.618477   NaN
2009-12-04  12.692411  66.400002  ...  29.593485  45.851234  10.618477   NaN
2009-12-07  12.388353  66.309998  ...  29.827377  46.088161  11.262022   NaN

Ticker            UNH          V        WFC        WMT        XOM        ^GSPC
Date
2009-12-01  22.540216  18.529932  18.565168  13.045530  42.020626  1108.859985
2009-12-02  22.218212  18.362429  18.207001  13.002644  41.882481  1109.239990
2009-12-03  21.464256  17.873331  17.570261  12.971665  41.440384  1099.920044
2009-12-04  21.566359  17.926933  17.881992  12.924017  41.031445  1105.979980
2009-12-07  22.226068  17.851004  17.484028  13.088420  40.766212  1103.250000

[5 rows x 51 columns]

Shape: (3981, 51)

In [4]:
# Check number of missing values per column
print(df_data.isnull().sum())

# Or to see only columns that have missing values
print(df_data.isnull().sum()[df_data.isnull().sum() > 0])

# To see percentage of missing data
print((df_data.isnull().sum() / len(df_data) * 100).round(2))

# To see columns that are completely empty
empty_columns = df_data.columns[df_data.isnull().all()].tolist()
print(f"\nCompletely empty columns: {empty_columns}")

Ticker
AAPL        0
ABBV      776
ABT         0
AMD         0
AMZN        0
APP      2861
AVGO        0
AXP         0
BAC         0
BRK-B       0
CAT         0
COST        0
CRM         0
CSCO        0
CVX         0
DIS         0
GE          0
GOOG        0
GOOGL       0
GS          0
HD          0
IBM         0
JNJ         0
JPM         0
KO          0
LLY         0
LRCX        0
MA          0
MCD         0
META      621
MRK         0
MS          0
MSFT        0
MU          0
NFLX        0
NVDA        0
ORCL        0
PG          0
PLTR     2726
PM          0
QCOM        0
RTX         0
TMO         0
TMUS        0
TSLA      144
UNH         0
V           0
WFC         0
WMT         0
XOM         0
^GSPC       0
dtype: int64
Ticker
ABBV     776
APP     2861
META     621
PLTR    2726
TSLA     144
dtype: int64
Ticker
AAPL      0.00
ABBV     19.49
ABT       0.00
AMD       0.00
AMZN      0.00
APP      71.87
AVGO      0.00
AXP       0.00
BAC       0.00
BRK-B     0.00
CAT       0.00
COST      0.00
CRM       0.00
CSCO      0.00
CVX       0.00
DIS       0.00
GE        0.00
GOOG      0.00
GOOGL     0.00
GS        0.00
HD        0.00
IBM       0.00
JNJ       0.00
JPM       0.00
KO        0.00
LLY       0.00
LRCX      0.00
MA        0.00
MCD       0.00
META     15.60
MRK       0.00
MS        0.00
MSFT      0.00
MU        0.00
NFLX      0.00
NVDA      0.00
ORCL      0.00
PG        0.00
PLTR     68.48
PM        0.00
QCOM      0.00
RTX       0.00
TMO       0.00
TMUS      0.00
TSLA      3.62
UNH       0.00
V         0.00
WFC       0.00
WMT       0.00
XOM       0.00
^GSPC     0.00
dtype: float64

Completely empty columns: []

In [5]:
# Get columns with no missing values
columns_complete = df_data.columns[df_data.isnull().sum() == 0].tolist()

# Get columns with missing values
columns_with_missing = df_data.columns[df_data.isnull().sum() > 0].tolist()

print(f"Complete columns: {len(columns_complete)}")
print(f"Columns with missing data: {len(columns_with_missing)}")
print(f"\nColumns with missing data: {columns_with_missing}")

Complete columns: 46
Columns with missing data: 5

Columns with missing data: ['ABBV', 'APP', 'META', 'PLTR', 'TSLA']

In [6]:
# Drop columns with missing data
df_data = df_data.drop(columns=columns_with_missing)

print(f"New shape: {df_data.shape}")

New shape: (3981, 46)

In [7]:
ticker_data.columns

Index(['Company', 'Symbol', 'Weight', '      Price'], dtype='object')

In [8]:
df_data.head()

Ticker,AAPL,ABT,AMD,AMZN,AVGO,AXP,BAC,BRK-B,CAT,COST,...,QCOM,RTX,TMO,TMUS,UNH,V,WFC,WMT,XOM,^GSPC
Date,,,,,,,,,,,,,,,,,,,,,
2009-12-01,5.913063,18.421549,7.20,6.9250,1.126428,32.857788,12.388351,67.050003,40.048882,43.098682,...,30.263855,29.454857,45.386845,10.457591,22.540216,18.529932,18.565168,13.045530,42.020626,1108.859985
2009-12-02,5.890846,18.408020,7.30,7.1125,1.101726,32.650940,12.201244,66.739998,39.552299,43.198025,...,30.263855,29.519838,45.547955,10.715009,22.218212,18.362429,18.207001,13.002644,41.882481,1109.239990
2009-12-03,5.898354,18.340391,8.03,7.0585,1.124311,30.924515,12.287002,65.820000,39.055714,41.885113,...,29.975050,29.134323,45.320499,10.618477,21.464256,17.873331,17.570261,12.971665,41.440384,1099.920044
2009-12-04,5.803488,18.184851,7.86,6.8790,1.165952,31.266624,12.692411,66.400002,39.122826,42.005749,...,30.331013,29.593485,45.851234,10.618477,21.566359,17.926933,17.881992,12.924017,41.031445,1105.979980
2009-12-07,5.672301,18.144279,8.52,6.7105,1.190654,31.354143,12.388353,66.309998,38.626236,42.119324,...,30.149681,29.827377,46.088161,11.262022,22.226068,17.851004,17.484028,13.088420,40.766212,1103.250000

In [9]:
# Get columns with no missing values
columns_complete = df_data.columns[df_data.isnull().sum() == 0].tolist()

# Get columns with missing values
columns_with_missing = df_data.columns[df_data.isnull().sum() > 0].tolist()

print(f"Complete columns: {len(columns_complete)}")
print(f"Columns with missing data: {len(columns_with_missing)}")
print(f"\nColumns with missing data: {columns_with_missing}")

Complete columns: 46
Columns with missing data: 0

Columns with missing data: []

In [10]:
# Reset index to make Date a regular column instead of index
df_data = df_data.reset_index()

# Rename ^GSPC to sp_500
df_data = df_data.rename(columns={'^GSPC': 'sp_500'})

In [11]:
df_data.head()

Ticker,Date,AAPL,ABT,AMD,AMZN,AVGO,AXP,BAC,BRK-B,CAT,...,QCOM,RTX,TMO,TMUS,UNH,V,WFC,WMT,XOM,sp_500
0,2009-12-01,5.913063,18.421549,7.20,6.9250,1.126428,32.857788,12.388351,67.050003,40.048882,...,30.263855,29.454857,45.386845,10.457591,22.540216,18.529932,18.565168,13.045530,42.020626,1108.859985
1,2009-12-02,5.890846,18.408020,7.30,7.1125,1.101726,32.650940,12.201244,66.739998,39.552299,...,30.263855,29.519838,45.547955,10.715009,22.218212,18.362429,18.207001,13.002644,41.882481,1109.239990
2,2009-12-03,5.898354,18.340391,8.03,7.0585,1.124311,30.924515,12.287002,65.820000,39.055714,...,29.975050,29.134323,45.320499,10.618477,21.464256,17.873331,17.570261,12.971665,41.440384,1099.920044
3,2009-12-04,5.803488,18.184851,7.86,6.8790,1.165952,31.266624,12.692411,66.400002,39.122826,...,30.331013,29.593485,45.851234,10.618477,21.566359,17.926933,17.881992,12.924017,41.031445,1105.979980
4,2009-12-07,5.672301,18.144279,8.52,6.7105,1.190654,31.354143,12.388353,66.309998,38.626236,...,30.149681,29.827377,46.088161,11.262022,22.226068,17.851004,17.484028,13.088420,40.766212,1103.250000

In [12]:
# Convert Date column to datetime format
df_data['Date'] = pd.to_datetime(df_data['Date'])

In [13]:
print(f"\nShape: {df_data.shape}")
df_data.head()

Shape: (3981, 47)

Ticker,Date,AAPL,ABT,AMD,AMZN,AVGO,AXP,BAC,BRK-B,CAT,...,QCOM,RTX,TMO,TMUS,UNH,V,WFC,WMT,XOM,sp_500
0,2009-12-01,5.913063,18.421549,7.20,6.9250,1.126428,32.857788,12.388351,67.050003,40.048882,...,30.263855,29.454857,45.386845,10.457591,22.540216,18.529932,18.565168,13.045530,42.020626,1108.859985
1,2009-12-02,5.890846,18.408020,7.30,7.1125,1.101726,32.650940,12.201244,66.739998,39.552299,...,30.263855,29.519838,45.547955,10.715009,22.218212,18.362429,18.207001,13.002644,41.882481,1109.239990
2,2009-12-03,5.898354,18.340391,8.03,7.0585,1.124311,30.924515,12.287002,65.820000,39.055714,...,29.975050,29.134323,45.320499,10.618477,21.464256,17.873331,17.570261,12.971665,41.440384,1099.920044
3,2009-12-04,5.803488,18.184851,7.86,6.8790,1.165952,31.266624,12.692411,66.400002,39.122826,...,30.331013,29.593485,45.851234,10.618477,21.566359,17.926933,17.881992,12.924017,41.031445,1105.979980
4,2009-12-07,5.672301,18.144279,8.52,6.7105,1.190654,31.354143,12.388353,66.309998,38.626236,...,30.149681,29.827377,46.088161,11.262022,22.226068,17.851004,17.484028,13.088420,40.766212,1103.250000

In [14]:
df_data.to_excel("data.xlsx", index=False)

#### **RETURNS**

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_excel('all_data/data.xlsx')

In [3]:
df.set_index('Date', inplace=True)

In [ ]:
returns = df.pct_change()

In [ ]:
returns

In [5]:
log_returns = np.log(1 + returns)
log_returns.head()

,AAPL,ABT,AMD,AMZN,AVGO,AXP,BAC,BRK-B,CAT,COST,...,QCOM,RTX,TMO,TMUS,UNH,V,WFC,WMT,XOM,sp_500
Date,,,,,,,,,,,,,,,,,,,,,
2009-12-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009-12-02,-0.003764,-0.000735,0.013793,0.026716,-0.022174,-0.006315,-0.015219,-0.004634,-0.012477,0.002302,...,0.000000,0.002204,0.003543,0.024317,-0.014389,-0.009081,-0.019481,-0.003293,-0.003293,0.000343
2009-12-03,0.001274,-0.003681,0.095310,-0.007621,0.020292,-0.054324,0.007004,-0.013881,-0.012635,-0.030864,...,-0.009589,-0.013146,-0.005006,-0.009050,-0.034523,-0.026997,-0.035598,-0.002385,-0.010612,-0.008438
2009-12-04,-0.016214,-0.008517,-0.021398,-0.025759,0.036368,0.011002,0.032462,0.008773,0.001717,0.002876,...,0.011805,0.015637,0.011643,0.000000,0.004746,0.002995,0.017586,-0.003680,-0.009917,0.005494
2009-12-07,-0.022864,-0.002234,0.080630,-0.024800,0.020965,0.002795,-0.024248,-0.001356,-0.012774,0.002700,...,-0.005996,0.007872,0.005154,0.058841,0.030131,-0.004245,-0.022506,0.012641,-0.006485,-0.002471

In [6]:
log_returns.dropna(inplace=True)

In [8]:
log_returns.reset_index(inplace=True)

In [9]:
log_returns.head()

,Date,AAPL,ABT,AMD,AMZN,AVGO,AXP,BAC,BRK-B,CAT,...,QCOM,RTX,TMO,TMUS,UNH,V,WFC,WMT,XOM,sp_500
0,2009-12-02,-0.003764,-0.000735,0.013793,0.026716,-0.022174,-0.006315,-0.015219,-0.004634,-0.012477,...,0.000000,0.002204,0.003543,0.024317,-0.014389,-0.009081,-0.019481,-0.003293,-0.003293,0.000343
1,2009-12-03,0.001274,-0.003681,0.095310,-0.007621,0.020292,-0.054324,0.007004,-0.013881,-0.012635,...,-0.009589,-0.013146,-0.005006,-0.009050,-0.034523,-0.026997,-0.035598,-0.002385,-0.010612,-0.008438
2,2009-12-04,-0.016214,-0.008517,-0.021398,-0.025759,0.036368,0.011002,0.032462,0.008773,0.001717,...,0.011805,0.015637,0.011643,0.000000,0.004746,0.002995,0.017586,-0.003680,-0.009917,0.005494
3,2009-12-07,-0.022864,-0.002234,0.080630,-0.024800,0.020965,0.002795,-0.024248,-0.001356,-0.012774,...,-0.005996,0.007872,0.005154,0.058841,0.030131,-0.004245,-0.022506,0.012641,-0.006485,-0.002471
4,2009-12-08,0.004857,-0.007858,0.017452,-0.000745,-0.007139,-0.007130,-0.030673,-0.000453,-0.020713,...,-0.006705,-0.009191,-0.012831,-0.018746,0.005637,0.000751,-0.012598,-0.009512,-0.011178,-0.010304

In [11]:
log_returns.to_excel('all_data/log_returns.xlsx', index=False)

In [12]:
returns.dropna(inplace=True)
returns.reset_index(inplace=True)
returns.to_excel('all_data/returns.xlsx', index=False)